Монтируем гугл диск для колаба

In [23]:

from google.colab import drive

# Монтируем Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Считываем файл

In [25]:
import pandas as pd

# Путь к файлу в Google Drive
file_path = "/content/drive/MyDrive/Colab Notebooks/train.csv"

# Читаем CSV-файл
df = pd.read_csv(file_path)

Выполнение первого пункта задачи

In [54]:
# Основная информация о датасете
print("=== Информация о датасете ===")
print(df.info())

print("\n=== Описательная статистика ===")
print(df.describe())

print("\n=== Количество пропусков ===")
print(df.isnull().sum())

=== Информация о датасете ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  FirstName    891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
None

=== Описательная статистика ===
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

=== Количество пропусков ===
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
FirstName        0
dtype: int64

Процент выживаемости

In [71]:
survival_rate_by_class = df.groupby('Pclass')['Survived'].mean() * 100
print("\nПроцент выживаемости по классам:")
print(survival_rate_by_class)

Процент выживаемости по классам:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

Самое популярное мужское и самое популярное женское имя на корабле. Типичное имя представляет из себя "Braund, Mr. Owen Harris". Значит надо эту ячейку разделить на 3. 1 - Braund, 2 - Mr, 3 - Owen Harris. Нам нужен только последний элемент. Собственно его и сохраняем в first name. Т.е. появился новый столбец в датафрейме.

In [45]:
def extract_first_name(name):
    return name.split(', ')[1].split('. ')[1].strip()

df['FirstName'] = df['Name'].apply(extract_first_name)

Проверка нового столбца

In [ ]:
print("=== Информация об обновленном датасете ===")
print(df.info())

Ищем популярные имена. Сортируем по полу, используем value_counts

In [72]:
male_names = df[df['Sex'] == 'male']['FirstName'].value_counts()
female_names = df[df['Sex'] == 'female']['FirstName'].value_counts()

print("\n=== Самые популярные имена ===")
print("Мужское:", male_names.index[0])
print("Женское:", female_names.index[0])

=== Самые популярные имена ===
Мужское: John
Женское: Mary

Популярные имена по классам.

In [73]:
print("\n=== Популярные имена по классам ===")

# Создаем словарь для хранения результатов. Ключ словаря - номер класса
popular_names_by_class = {}

# Перебираем все классы, получаем уникальные значения классов и сортируем их по возрастанию (1,2,3).
for pclass in sorted(df['Pclass'].unique()):
    print(f"\nКласс {pclass}:")

    # Фильтруем по классу и полу для каждого класса
    males_in_class = df[(df['Pclass'] == pclass) & (df['Sex'] == 'male')]
    females_in_class = df[(df['Pclass'] == pclass) & (df['Sex'] == 'female')]

    # Считаем частоту имен
    male_name_counts = males_in_class['FirstName'].value_counts()
    female_name_counts = females_in_class['FirstName'].value_counts()

    # Берем самое популярное имя (первое в отсортированном списке)
    top_male = male_name_counts.index[0]
    top_female = female_name_counts.index[0]

    print(f"Мужское: {top_male}")
    print(f"Женское: {top_female}")

    # Сохраняем результаты в словарь
    popular_names_by_class[pclass] = {'male': top_male, 'female': top_female}

=== Популярные имена по классам ===

Класс 1:
Мужское: Victor
Женское: John Bradley (Florence Briggs Thayer)

Класс 2:
Мужское: William John
Женское: Bertha

Класс 3:
Мужское: James
Женское: Mary

Задание часть таблицы с пассажирами, возраст которых больше 44 лет

В начале было видно, что в столбце AGE есть 177 шт пропущенных значений. Надо их стереть.

In [59]:
#Удаляем строки с пропущенными значениями Age
df_with_age = df.dropna(subset=['Age'])

In [64]:
#проверка выполнение команды
print("\n=== Количество пропусков проверка AGE ===")
print(df_with_age.isnull().sum())

=== Количество пропусков проверка AGE ===
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         2
FirstName        0
dtype: int64

In [65]:
# Фильтруем строки, где возраст больше 44 лет
older_than_44 = df_with_age[df_with_age['Age'] > 44]
print("\n=== Пассажиры старше 44 лет ===")
print(older_than_44)

=== Пассажиры старше 44 лет ===
     PassengerId  Survived  Pclass  \
6              7         0       1
11            12         1       1
15            16         1       2
33            34         0       2
52            53         1       1
..           ...       ...     ...
857          858         1       1
862          863         1       1
871          872         1       1
873          874         0       3
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
..                                                 ...     ...   ...    ...
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch      Ticket     Fare Cabin Embarked  \
6        0       17463  51.8625   E46        S
11       0      113783  26.5500  C103        S
15       0      248706  16.0000   NaN        S
33       0  C.A. 24579  10.5000   NaN        S
52       0    PC 17572  76.7292   D33        C
..     ...         ...      ...   ...      ...
857      0      113055  26.5500   E17        S
862      0       17466  25.9292   D17        S
871      1       11751  52.5542   D35        S
873      0      345765   9.0000   NaN        S
879      1       11767  83.1583   C50        C

                                   FirstName
6                                  Timothy J
11                                 Elizabeth
15                        (Mary D Kingcome)
33                                  Edward H
52               Henry Sleeper (Myna Haxtun)
..                                       ...
857                             Peter Denis
862  Frederick Joel (Margaret Welles Barron)
871        Richard Leonard (Sallie Monypeny)
873                                   Victor
879         Thomas Jr (Lily Alexenia Wilson)

[115 rows x 13 columns]

Столбец уже очищен от "пустышек", так что просто фильтруем его.

In [67]:
younger_than_44_male = df_with_age[(df_with_age['Age'] < 44) & (df_with_age['Sex'] == 'male')]
print("\n=== Пассажиры младше 44 лет мужского пола ===")
print(younger_than_44_male)

=== Пассажиры младше 44 лет мужского пола ===
     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
12            13         0       3  Saundercock, Mr. William Henry  male
13            14         0       3     Andersson, Mr. Anders Johan  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket    Fare Cabin Embarked  \
0    22.0      1      0         A/5 21171   7.250   NaN        S
4    35.0      0      0            373450   8.050   NaN        S
7     2.0      3      1            349909  21.075   NaN        S
12   20.0      0      0         A/5. 2151   8.050   NaN        S
13   39.0      1      5            347082  31.275   NaN        S
..    ...    ...    ...               ...     ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.500   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.050   NaN        S
886  27.0      0      0            211536  13.000   NaN        S
889  26.0      0      0            111369  30.000  C148        C
890  32.0      0      0            370376   7.750   NaN        Q

           FirstName
0        Owen Harris
4      William Henry
7      Gosta Leonard
12     William Henry
13      Anders Johan
..               ...
883  Frederick James
884         Henry Jr
886           Juozas
889      Karl Howell
890          Patrick

[368 rows x 13 columns]

Считаем каюты. Тоже есть пустые значения, поэтому удаляем пустые.

In [70]:
df_cabin = df.dropna(subset=['Cabin'])

# Группируем данные по Cabin и считаем количество пассажиров в каждой каюте

cabin_counts = df_cabin.groupby('Cabin').size()
n_person_cabins = cabin_counts.value_counts().sort_index()
print("\n=== Количество n-местных кабин ===")
print(n_person_cabins)

=== Количество n-местных кабин ===
1    101
2     38
3      5
4      3
Name: count, dtype: int64